<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="utf-8">
    <title>modify</title>
</head>
<body>
<form action ="/modify" method="post">
<div>
      <label for  ="username">username:</label>
      <input type ="text" name ="username" id ="username">
</div>
<div>
      <label for  ="oldpassword">oldpassword:</label>
      <input type ="text" name ="oldpassword" id ="oldpassword">
</div>
<div>
      <label for  ="newpassword">newpassword:</label>
      <input type ="text" name ="newpassword" id ="newpassword">
</div>
<div>
    <input type ="submit" value="修改">
</div>
</form>


</body>
</html>